* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container { 
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

 .row:after { 
  content: "";
}

[class*="col-"]{ 
  text-align: center;
  height: 100vh;
}

.col-1{ 
  width: 100%;
}

.col-3 { 
  margin: 0 auto;
  width: 40%;
  height: 90vh;
}


.kitten { 
  background-image: url('../assets/images/kitten-medium.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}
.background {
  background-image: url('../assets/images/sunny-day.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}


@media (max-width: 800px) { 

  .kitten {
    background-image: url('../assets/images/kitten-large.png');
  }

  .background {
    background-image: url('../assets/images/dawn.png');
  }
}

@media (max-width: 500px) { 

  .kitten {
    background-image: url('../assets/images/kitten-small.png');
  }

   .background {
    background-image: url('../assets/images/night.jpg');
  }
}
    
